@use "../utilities/variables";
@use "../utilities/mixins";

.btn-outline-success {
  background-color: variables.$color-nav;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;

  &:hover {
    background-color: variables.$color-hover;
  }
}


h1 {
  color: variables.$color-title;
  font-size: 42px;
  font-family: "Playfair; Display", serif;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(to right, white, rgb(255, 231, 235));
  @include mixins.spacing (margin, padding)
}

p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 40px 40px;
  color: variables.$color-title;
  padding: 16px;
  color: black;
}

h2 {
  font-size: 32px;
  color: rgb(76, 48, 76);
  text-decoration: none;
  padding: 20px 20px;
  text-align: center;
  background-image: linear-gradient(to right, white, rgb(255, 231, 235));
}

h3 {
  font-size: 28px;
  color: variables.$color-principal;
  text-align: center;
  @include mixins.spacing (margin, padding)
}

.figure-img {
  width: 300px;
  @include mixins.flex (row, center, center);

}

.envios {
  align-items: center;
}

.img-instagram {
  max-width: 350px;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.grid-container {
  align-items: center;
  flex-direction: column;

}

.img-talle {
  display: block;
  margin: 16px auto;
  padding: 16px;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.card-localcba {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.card-localvm {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 430px) {
  .img-talle {
    max-width: 350px;
  }

}

@media (max-width: 1024px) {
  .img-talle {
    max-width: 700px;
  }


}

.link-img {
  color: rgb(243, 130, 149);
  padding: 20px 30px;
  border-radius: 18px;
  margin: 18px 20px 20px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

}

.medidas {
  @include mixins.spacing(margin, padding);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  border: 8px;
  color: black;
}
.card-carrito{
  @include mixins.spacing(margin, padding);
}