@use "../utilities/variables";
.logo{
    width: 150px;
}

.navbar-brand {
    background-color: variables.$color-nav;
    border: none;
}

.bg-navbar-propio {
    background-color: variables.$color-nav
}