@mixin flex ($direction, $justify, $aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;

}
@mixin spacing ($margin, $padding){
    margin: 18px 18px 18px 18px;
    padding: 15px 15px 15px 15px;
}