$color-fondo:rgb(255, 253, 250);
$color-principal: rgb(230, 139, 178);
$color-title: rgb(38, 9, 31)L;
$color-hover: rgb(246, 116, 142);
$color-card: rgb(208, 133, 146);
$color-nav: rgb(249, 236, 236)
