$color-fondo:rgb(255, 253, 250);
$color-principal: rgb(174, 127, 186);
$color-title: rgb(38, 9, 31)L;
$color-hover: rgb(255, 199, 209);
$color-card: rgb(208, 133, 146);
$color-nav: rgb(239, 200, 206)
