$color-fondo:rgb(255, 253, 250);
$color-principal: rgb(230, 139, 178);
$color-title: rgb(15, 14, 14)L;
$color-hover: rgb(246, 116, 142);
$color-card: rgb(229, 175, 184);
$color-nav: rgb(249, 236, 236)
