/*BASE*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
}

.navbar-brand {
  background-color: rgb(249, 236, 236);
  border: none;
}

.bg-navbar-propio {
  background-color: rgb(249, 236, 236);
}

.btn-outline-success {
  background-color: rgb(249, 236, 236);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}
.btn-outline-success:hover {
  background-color: rgb(246, 116, 142);
}

h1 {
  color: rgb(15, 14, 14) L;
  font-size: 42px;
  font-family: "Playfair; Display", serif;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(to right, white, rgb(255, 231, 235));
  margin: 18px 18px 18px 18px;
  padding: 15px 15px 15px 15px;
}

p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 40px 40px;
  color: rgb(15, 14, 14) L;
  padding: 16px;
  color: black;
}

h2 {
  font-size: 32px;
  color: rgb(76, 48, 76);
  text-decoration: none;
  padding: 20px 20px;
  text-align: center;
  background-image: linear-gradient(to right, white, rgb(249, 212, 218));
}

h3 {
  font-size: 28px;
  color: rgb(174, 95, 129);
  text-align: center;
  margin: 18px 18px 18px 18px;
  padding: 15px 15px 15px 15px;
}

.figure-img {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.envios {
  align-items: center;
}

.img-instagram {
  max-width: 350px;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  align-items: center;
  flex-direction: column;
}

.img-talle {
  display: block;
  margin: 16px auto;
  padding: 16px;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.card-localcba {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.card-localvm {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 430px) {
  .img-talle {
    max-width: 350px;
  }
}
@media (max-width: 1024px) {
  .img-talle {
    max-width: 700px;
  }
}
.link-img {
  color: rgb(243, 130, 149);
  padding: 20px 30px;
  border-radius: 18px;
  margin: 18px 20px 20px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.medidas {
  margin: 18px 18px 18px 18px;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  border: 8px;
  color: black;
}

.footer {
  background-color: rgb(249, 236, 236);
  text-align: center;
}

.form, .form-select {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  border-radius: 8px;
}

.button, .btn-primary, .btn-outline-success, .button-compra, .button-card {
  color: black;
  font-size: 18px;
  border: 1px solid rgb(11, 11, 11);
  background-color: rgb(229, 175, 184);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}
.button:hover, .btn-primary:hover, .btn-outline-success:hover, .button-compra:hover, .button-card:hover {
  background-color: rgb(246, 116, 142);
}

/*# sourceMappingURL=styles.css.map */
